.container{
  padding-left: 30px !important;
  padding-top: 30px !important;
  padding-right: 30px !important;
}
.field-busqueda {
  width: 365px;
}
#container-busqueda{
  text-align: center !important;
}
.imgInput{
  background: transparent !important;
}
